version: 2.1
workflows:
  main:
    jobs:
      - build
jobs:
  build:
    machine:
      image: ubuntu-2204:2022.04.1
    steps:
      - checkout
      - run:
          name: Install required packages
          command: .circleci/install-pkgs-ubuntu.sh
      - run:
          name: Install cmocka
          command: utils/docker/images/install-cmocka.sh
      - run:
          name: Build rpma
          command: |
            mkdir build
            cd build
            RPMA_TESTING_IP="will_be_set_later" cmake .. -DTESTS_USE_VALGRIND=ON -DTESTS_RDMA_CONNECTION=ON -DBUILD_EXAMPLES=ON
            make -j$(nproc)
      - run:
          # Configure SoftRoCE and read the RPMA_TESTING_IP environment variable
          name: Configure SoftRoCE
          command: cd build && make config_softroce && source $BASH_ENV
      - run:
          name: Run tests
          command: cd build && ctest --output-on-failure
      - run:
          name: Run all examples
          command: cd build && make run_all_examples
      - run:
          name: Run all examples under valgrind
          command: cd build && make run_all_examples_under_valgrind
