{
    "_comment": "A configuration file providing all information describing the system which are necessary to run ./rpma_fio_bench.sh and ./ib_read.sh.",
    "platform_generation": "Cascade Lake",
    "server_ip": "192.168.102.5",
    "JOB_NUMA": 0,
    "FIO_PATH": "path",
    "REMOTE_JOB_NUMA": 0,
    "_comment": "XXX"
}
