{
    "_comment": "A configuration file providing all information describing the system which are necessary to run ./report_bench.py.",
    "PLATFORM_GENERATION": "Cascade Lake/Ice Lake",
    "SERVER_IP": "XXX.XXX.XXX.XXX",
    "JOB_NUMA": 999,
    "AUX_PARAMS": "-d XXX -R",
    "REMOTE_USER": "user",
    "REMOTE_PASS": "pass",
    "REMOTE_JOB_NUMA": 999,
    "REMOTE_AUX_PARAMS": "-d XXX -R",
    "REMOTE_DIRECT_WRITE_TO_PMEM": false,
    "REMOTE_PMEM_PATH": "for example: /dev/dax0.0 or /mnt/pmem0/file"
}
