{
    "subtitle": "",
    "release": "0.00",
    "test_date": "December 2020",
    "ref": "2021_04_21_CLX",
    "authors": ["Name-1 (E-mail-1)", "Name-2 (E-mail-2)", "Name-3 (E-mail-3)"],
    "configuration" : {
        "common": {
            "Server Platform" : [
                "The name of the platform"
            ],
            "CPU" : [
                "Producer&reg; Name A.BGHz"
            ],
            "Memory" : [
                "Cx DGB Producer&reg; Model, DDRE, FMT/s", "Total of JGB DRAM"
            ],
            "Persistent Memory" : [
                "Gx HGB Producer&reg; Model Persistent Memory, IMT/s",
                "Total of KGB PMem",
                "XGiB Device DAX / FileSystem DAX file on Xx Interleaved region"
            ],
            "RDMA-capable NIC" : [
                "XGbps Producer&reg; Name MTU Y Protocol"
            ],
            "Storage" : [
                "XGB Producer&reg; Name"
            ],
            "Operating System" : [
                "Distribution Linux L.M"
            ],
            "BIOS" : [
                "serial_number"
            ],
            "Linux kernel version" : [
                "version-patch.architecture"
            ],
            "librpma" : [
                "major.minor-patch-hash"
            ],
            "libibverbs" : [
                "major.minor-patch-hash"
            ],
            "libpmem" : [
                "major.minor-patch-hash"
            ],
            "FIO version" : [
                "major.minor-patch-hash"
            ],
            "rdma-core" : [
                "major.minor-patch-hash"
            ]
        },
         "target" : {
            "description" :
                "Description of applied configuration. With highlighting differences between Direct Write to PMem (DW2PMem) and non-Direct Write to PMem (non-DW2PMem) configurations.",
            "details": {
                "Repository" : [
                    "https://github.com/domain/url"
                ],
                "Version" : [
                    "hash"
                ],
                "Applied procedure" : [
                    "[Details](https://domain/url)"
                ]
            }
        },
        "bios": {
            "settings" : {
                "Repository" : [
                    "https://github.com/domain/url"
                ],
                "Version" : [
                    "hash"
                ],
                "Applied procedure" : [
                    "[Details](https://domain/url)"
                ]
            },
            "excerpt" : {
                "Key1" : [
                    "value1"
                ],
                "Key2" : [
                    "value2"
                ]
            }
        },
        "security" :
            "Elaborate on the kernel and BIOS spectre-meltdown resistance and security in general.",
        "description" :
            "Briefly describe the test setup.",
        "schematic": "Figure_0.png"
    },
    "visualization": {
        "_comment": "If you provide the maximum bandwidth of the RNIC all the bandwidth graphs will have a consistent y-axis scale. The value should be provided in Gbps.",
        "rnic_max_bw": 100
    }
}
