{
    "_comment": "high_level_setup_figure requires making the path absolute",
    "subtitle": "",
    "high_level_setup_figure": "Figure_0.png",
    "release": "0.00",
    "test_date": "December 2020",
    "ref": "2021_04_21_CLX",
    "authors": ["Name-1 (E-mail-1)", "Name-2 (E-mail-2)", "Name-3 (E-mail-3)"],
    "configuration" : {
        "common": {
            "Server Platform" : [
                "The name of the platform"
            ],
            "CPU" : [
                "Producer&reg; Name A.BGHz"
            ],
            "Memory" : [
                "Cx DGB Producer&reg; Model, DDRE, FMT/s", "Total of JGB DRAM"
            ],
            "Persistent Memory" : [
                "Gx HGB Producer&reg; Model Persistent Memory, IMT/s",
                "Total of KGB PMem",
                "XGiB Device DAX / FileSystem DAX file on Xx Interleaved region"
            ],
            "RDMA-capable NIC" : [
                "XGbps Producer&reg; Name MTU Y Protocol"
            ],
            "Storage" : [
                "XGB Producer&reg; Name"
            ],
            "Operating System" : [
                "Distribution Linux L.M"
            ],
            "BIOS" : [
                "serial_number"
            ],
            "Linux kernel version" : [
                "version-patch.architecture"
            ],
            "librpma" : [
                "major.minor-patch-hash"
            ],
            "libibverbs" : [
                "major.minor-patch-hash"
            ],
            "libpmem" : [
                "major.minor-patch-hash"
            ],
            "FIO version" : [
                "major.minor-patch-hash"
            ],
            "rdma-core" : [
                "major.minor-patch-hash"
            ]
        },
        "target" : {
            "Repository" : [
                "https://github.com/domain/url"
            ],
            "Version" : [
                "hash"
            ],
            "Applied procedure" : [
                "[Details](https://domain/url)"
            ]
        },
        "bios": {
            "settings" : {
                "Repository" : [
                    "https://github.com/domain/url"
                ],
                "Version" : [
                    "hash"
                ],
                "Applied procedure" : [
                    "[Details](https://domain/url)"
                ]
            },
            "excerpt" : {
                "Key1" : [
                    "value1"
                ],
                "Key2" : [
                    "value2"
                ]
            }
        },
        "security" : [
            "Kernel & BIOS spectre-meltdown information Elaborate on the kernel and BIOS security."
        ],
        "description" : [
            "The setup consists of two individual systems (one used as the initiator and one used as the target). The target system has six Intel&reg; Optane&trade; Persistent Memory devices connected to the respective NUMA node. Both the initiator and the target are equipped with 100Gbps Mellanox ConnectX-5 NICs. The initiator is connected to the target system directly using QSFP28 cables without any switches. From two ports available on NICs only one is in use during the measurements."
        ]
    }
}
