[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s). 
# fixme - do not fail because of XXX comments
# too-few-public-methods - allow for 'too simple to be good' classes
# e.g. in the unit tests
disable=fixme,too-few-public-methods


[FORMAT]

# Maximum number of characters on a single line.
max-line-length=80

# Maximum number of lines in a module.
max-module-lines=500
