[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s). 
# fixme - do not fail because of XXX comments
# too-few-public-methods - allow for 'too simple to be good' classes
# e.g. in the unit tests
# too-many-arguments - (X>5) XXX requires consideration
# too-many-instance-attributes - (X>7) XXX requires consideration
# no-self-use - XXX requires consideration
# consider-using-f-string - f-string is not supported on Debian 9 with python v3.5.3 and pylint3 v1.6.5
# unused-private-member - XXX for an unknown reason, pylint ignores the uses of private members
# too-many-locals - (X>15) XXX requires consideration
# len-as-condition - bug in Pylint, fixed as of Pylint 2.4 (https://github.com/PyCQA/pylint/pull/2815)
# duplicate-code - XXX requires consideration
# bad-continuation - removed from pylint (https://github.com/PyCQA/pylint/pull/3571), but still enabled by default in old releases
disable=fixme,too-few-public-methods,too-many-arguments,too-many-instance-attributes,no-self-use,consider-using-f-string,unused-private-member,too-many-locals,len-as-condition,duplicate-code,bad-continuation

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=80

# Regexp for a line that is allowed to be longer than the limit.
# For a very long string to be allowed to be longer the default line length:
# - it has to be a triple-quoted string (`'''` or `"""`). It may optionally end
#   with a comma `,` or a closing parenthesis `)`.
# - or it has to be consistent of just letters, spaces, commas and full stops.
ignore-long-lines=(.*('''|""")[),]?$|^[a-zA-Z,. ]+$)

# Maximum number of lines in a module.
max-module-lines=500

# Regular expression for the functions names (to extend a name size from 30 (default) to 60 (needed for unit tests)) 
function-rgx=[a-z_][a-z0-9_]{2,60}$
