<a class="pure-menu-heading" href="#test-setup">Test Setup</a>
<ul class="pure-menu-list">
    <li class="pure-menu-item"><a href="#common-cfg" class="pure-menu-link">Common Configuration</a></li>
    <li class="pure-menu-item"><a href="#target-cfg" class="pure-menu-link">Target Configuration</a></li>
    <li class="pure-menu-item"><a href="#bios" class="pure-menu-link">BIOS Settings</a></li>
    <li class="pure-menu-item"><a href="#security" class="pure-menu-link">Security</a></li>
</ul>
<a class="pure-menu-heading" href="#introduction">Introduction</a>
<a class="pure-menu-heading" href="#read">TC1: Read from PMem</a>
<ul class="pure-menu-list">
    <li class="pure-menu-item"><a href="#read-lat" class="pure-menu-link">Latency</a></li>
    <li class="pure-menu-item"><a href="#read-bw" class="pure-menu-link">Bandwidth</a></li>
</ul>
<a class="pure-menu-heading" href="#write">TC2: Write to PMem</a>
<ul class="pure-menu-list">
    <li class="pure-menu-item"><a href="#write-lat" class="pure-menu-link">Latency</a></li>
    <li class="pure-menu-item"><a href="#write-bw" class="pure-menu-link">Bandwidth</a></li>
</ul>
<a class="pure-menu-heading" href="#mix">TC3: Mix against PMem</a>
<ul class="pure-menu-list">
    <li class="pure-menu-item"><a href="#mix-lat" class="pure-menu-link">Latency</a></li>
    <li class="pure-menu-item"><a href="#mix-bw" class="pure-menu-link">Bandwidth</a></li>
</ul>
{% if cpu is true %}
<a class="pure-menu-heading" href="#cpu">TC4: CPU load impact</a>
<ul class="pure-menu-list">
    <li class="pure-menu-item"><a href="#cpu-lat" class="pure-menu-link">Latency</a></li>
    <li class="pure-menu-item"><a href="#cpu-bw" class="pure-menu-link">Bandwidth</a></li>
</ul>
{% endif %}
