<h3 id="bios-settings">BIOS Settings</h3>

|Applied procedure|[Details](https://domain/url)|
|---|---|
|Repository|<i>https://github.com/domain/url</i>|
|Version|<i>hash</i>|

Excerpt:

|Item|Description|
|---|---|
|<i>Key</i>|<i>value</i>|
